.comments-btn
{
  background-color: transparent;
}

.activity-container{
  //padding:20px;
  //border:dotted 1px;
  white-space:nowrap;
  overflow-x:auto;
}

.activity-box{
  margin:10px;
  display:inline-block;
  vertical-align:top;
  width:70%;
}

.activity-watcher-badge{
  display: inline-block;
  min-width: 13px;
  padding: 14px 12px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 30px;
}

/* Extra Small Devices, Phones */
@media (min-width : 480px) {
  .activity-box{
    width:75%;
  }
}

/* Small Devices, Tablets */
@media (min-width : 768px) {
  .activity-box{
    width:50%;
  }
}

/* Medium Devices, Desktops */
@media (min-width : 992px) {
  .activity-box{
    width:50%;
  }
}

/* Large Devices */
@media(min-width:1200px){
  .activity-box{
    width:25%;
  }
}