.chat {
  list-style: none;
  background: none;
  margin: 0;
  //margin-top: 60px;
  margin-bottom: 20px;
  min-height: 500px;
  max-height: 650px;
  overflow: auto;
}

.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.chat .avatar {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 2;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.chat .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.other .msg {
  order: 1;
  margin-left: 15px;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #d7e8f9;
}

.other:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 53px;
  width: 0px;
  height: 0px;
  border: 5px solid #f6f8fa;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}

.self .msg {
  order: 1;
  margin-right: 15px;
  background-color: #d7e8f9;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #d7e8f9;
}

.self .avatar {
  order: 2;
}

.self .avatar:after {
  content: "";
  position: relative;
  display: inline-block;
  bottom: 19px;
  right: 15px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-left-color: #d7e8f9;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #d7e8f9;
  box-shadow: 0px 2px 0px #d7e8f9;
}

.msg {
  background: #f6f8fa;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}

.msg p {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 0 0.2rem 0;
  color: #777;
}

.msg .avatar-name {
  font-size: 0.7em;
  color: #0000fe;
}

.msg img {
  position: relative;
  display: block;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #eee;
  transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 800px) {
  .msg img {
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .msg img {
    width: 200px;
  }
}

.msg img:hover {
  opacity: 0.4;
}

.msg time {
  font-size: 13px;
  color: #777;;
  margin-top: 5px;
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.msg time:before {
  content: "\f017";
  color: #777;
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 4px;
}

.msg .edit {
  font-size: 12px;
  color: #777;;
  margin-top: 5px;
  float: left;
}

.chat-comments-control input[type="text"].comment-box {
  bottom: 0;
  width: 90%;
  padding: 5px;
  font-size: 0.9rem;
  color: #777;
  height: 50px;
  float: left;
  background-color: transparent !important;
  border-style: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

input[type="submit"] .send {
  background-color: #42ff55;
}

.chat-comments-control {
  border-top: solid 1px #d7e8f9;
  width: 90%;
  height: 50px;
  border-radius: 2px;
  margin: auto;
  margin-top: 5px;
}

.attachbox {
  float: left;
  width: 70px;
  height: 100%;
  margin-right: 10px;
}

.attachbox .clip {
  color: #d7e8f9;
  font-size: 25px;
  margin-top: 10px;
  float: right;
}

.attachbox .image {
  color: #d7e8f9;
  font-size: 25px;
  margin-top: 10px;
  float: left;
}

.sendbox {
  float: right;
  width: 20px;
  height: 100%;
  margin-right: 10px;
}

.sendbox .send {
  color: #d7e8f9;
  font-size: 25px;
  background-color: white;
  float: left;
}

.clip:hover {
  font-size: 35px;
}

.image:hover {
  font-size: 35px;
}

.holder {
  width: 80%;
  background: white;
  position: fixed;
  bottom: 0;
  margin-left: -1%;
  margin-top: 10px;
  height: 80px;
}

.load-more {
  background-color: #66b0fb;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.load-more:hover {
  background-color: #4c91d7;
}