.navbar-fixed-top {
  left: 270px !important;
  transition: .3s;
}

#fixedNav.active {
  left: 100px !important;
  transition: .3s;
}

.content-container{
  margin-top: 100px;
}

.username{
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  &:hover{
    cursor: pointer;
  }
}

.profile-dropdown{
  list-style: none;
  text-align: center;
  padding-left: 0px;
  li{
    font-size: 14px;
    margin-bottom: 5px;
    &:hover{
      cursor: pointer;
    }
  }
}

#show{
  left: 100px !important;
  transition: .3s;
}

@media (max-width: 768px) {
  .navbar-fixed-top {
    left: 0px !important;
  }

  #fixedNav.active {
    left: 0px !important;
    transition: .3s;
  }

  .logo-container{
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-fixed-top{
    left: 210px !important;
  }
}